@page "/account/login"
@attribute [AllowAnonymous]

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <InputText @bind-Value="loginModel.Username" id="username" />
    </div>

    <div class="form-group">
        <label for="password">Lozinka:</label>
        <InputText type="password" @bind-Value="loginModel.Password" id="password" />
    </div>

    <button type="submit" class="btn btn-primary">Prijava</button>
</EditForm>

@code {
    private LoginModel loginModel = new();
    
    private async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("Account/Login", loginModel);
        
        if (result.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/quiz", true);
        }
        else
        {
            // Obrada grešaka
        }
    }

    public class LoginModel
    {
        [Required]
        public string Username { get; set; }
        
        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }
    }
}