@page "/"
@using global::QuizApp.QuizApp.Shared
@namespace QuizApp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
    <NavLink class="text-white" href="/quiz">Start Quiz</NavLink>
</Router>


